/*
 Font-family
 -------------------------*/
$primary-fontfamily: 'Roboto', sans-serif;
/*
 Font-color
 -------------------------*/
$white: #ffffff;
$black: #000000;
$header-color: #9ca4b5;
$humburger-color: #041e4a;
$line-color: #e8eaee;
$letter-text: #f3f4f6;
$threecolumn-color: #f3f4f6;
$text-color: #0a1f46;
$heading-color: #58606d;
$line-after: #d3d6de;
$text-image: #606c87;
$outer-color: #ced2da;
$after-color:#fbfbfc;
$portfolio-color:#6f7786;
$border-color:#f8f8fa;
$navbar-color:#e6e8ec;
$after-line:#e7e9ed;
/*
 Font-weight
 -------------------------*/
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;


/*
 Background color
 -------------------------*/

/*
 Border-color
 -------------------------*/

/*
 Alignment
 -------------------------*/
$align-center: center;
$align-left: left;


/*** default values ***/
$__left: left;
$__right: right;
/***** custom values *****/